<div
    {% if cssID %}{{ cssID|raw }}{% endif %}
    {% if class %}class="{{ class }}"{% endif %}
    data-module="pagination-reload"
>
    {% if filterModuleId is defined and filterModuleId is not empty %}
        {{ insert_tag('insert_module::' ~ filterModuleId)|raw }}
    {% endif %}
    {% if listModuleId is defined and listModuleId is not empty %}
        {{ insert_tag('insert_module::' ~ listModuleId)|raw }}
    {% endif %}
</div>
